.App {
  max-width: 100vw;
  max-height: 100vh;
}

.Map {
  height: 100vh;
}

.mapboxgl-marker,
.legend-box {
  cursor: pointer;
}

.legend-header h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.legend-box {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ffffff;
  padding: 0 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  transition: height 0.5s ease;
  border: 6px double black;
}

.legend-box.collapsed {
  height: 50px;
  overflow: hidden;
}

.legend-square {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  border: 1px solid black;
  vertical-align: middle;
}
